.A1{
	margin-top: 32px;

}

.A2{
	margin-top:30px;
}

.A5{
	background-color: green;
	color: white;
}

  .container2{
	display: block; 
	width:500px;
	margin-left:33.3%;
	margin-top:5%;	
	padding:35px;
	border:1px solid grey;
	background-color:white;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   box-shadow:0px 2px 5px black;
   -webkit-box-shadow: 0px 2px 5px black;
  }
  .container2 label{
	display:inline-block;
	float:left;
	height: 1em;
	font-weight:italic;
	padding:6px 0px 0px;
	line-height: 1em;
	width:155px;
	font-size:1.4em;
	margin: 5px 0px;
	clear:both; 
  }
  .contact{
	border-color:blue;
	border-radius:5px;
	border-width:3px;
	background-color:snow;
  }
  #details{
	background-color:grey;
	color:white;
	border-radius:5px; 
  }
  .container label small{
	font-size:0.75em;
	color:grey;
  }
  .container2 input{
	width:190px;
	padding:10px;
	margin:3px;
	color:black;
	background-color:white;
	border:1px solid grey;
	font:0.8em "Lucida Grande","Lucida Sans Unicode",Arial,Sans-serif;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	vertical-align:top;
	transition:all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow:0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow: 0 0 5px;
  }
  .container2 textarea{
	padding:10px;
	margin:3px;
	color:black;
	background-color:white;
	border:1px solid grey;
	font:0.8em "Lucida Grande","Lucida Sans Unicode",Arial,Sans-serif;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	vertical-align:top;
	transition:all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow:0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow: 0 0 5px;
  }
  .container2 input:focus,textarea:focus{
	border:1px solid grey;
	background-color:white;
	color:black;
	font-size:0.8em;
	outline:none;
	position:relative;
	z-index:5;
	box-shadow:0 0 5px lightblue;
	-webkit-box-shadow: 0 0 5px lightblue;
	-moz-box-shadow: 0 0 5px lightblue;
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	transition:all 0.25s ease-in-out;
	-webkit-transition: all 0.25 ease-in-out;
	-moz-transition:all 0.25 ease-in-out;
  }
  .container2 input.submit{
	width:auto;
	cursor:pointer;
	position:relative;
	border: 1px solid black;
	color:white;
	padding:6px 16px;
	text-decoration:none;
	font-size:1.0em;
	background-color:black;
	box-shadow:0 2 3px black;
	-moz-box-shadow:0 1 3px black;
	-webkit-box-shadow:0 1 3px black;
  }
  .container2 input.submit:hover{
	background:black;
	}
  .container2 input.submit:active, .container input.submit:focus{
	top:1px;
  }